/packages/ui/  @adral/design
/packages/shared-data/pricing.ts @adral/billing
/packages/shared-data/plans.ts @adral/billing
/packages/common/telemetry-constants.ts @adral/growth-eng
/packages/dev-tools/ @adral/growth-eng
/packages/pg-meta @adral/postgres @avallete
/packages/ui-patterns @adral/design

/apps/studio/ @adral/Dashboard

/apps/www/ @adral/marketing
/apps/www/public/images/blog @adral/marketing
/apps/www/lib/redirects.js

/docker/ @adral/dev-workflows @adral/self-hosted

/apps/studio/csp.js                                                 @adral/security
/apps/studio/components/interfaces/Billing/Payment                  @adral/security
/apps/studio/components/interfaces/Organization/Documents/          @adral/security
/apps/studio/pages/new/index.tsx                                    @adral/security

/apps/studio/data/**/*.sql.ts                                       @adral/postgres @avallete

/packages/shared-data/compute-disk-limits.ts @adral/infra
